html, body {
  background-color: #010C1D;
}

.nav {
  margin-top: 1em;
  margin-left: 10px;
}

.rightnav {
  margin-top: .4em;
  margin-left: 2%;
}

.content {
  color: #909090;
  margin-left: 10px;
}

/* .container {
  margin-left: auto;
  margin-right: auto;
} */
